{% include 'header.twig' %}
          <main id="notLogin">
    <div id="resetPassword" class="mt-5">
  <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="highlight-lside">
            <div class="hlight-box">
               <div class="row align-items-center">
                  <div class="col-md-3">
                     <i class="fal fa-phone-laptop icon"></i>
                  </div>
                  <div class="col-md-9">
                     <div>
                        <h4 class="hlight-first">Device Compatibility</h4>
                        <p class="hlight-second">Our site is fully compatible with all desktop and mobile devices you are using.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="hlight-box">
               <div class="row align-items-center">
                  <div class="col-md-3">
                     <i class="fal fa-credit-card icon"></i>
                  </div>
                  <div class="col-md-9">
                     <div>
                        <h4 class="hlight-first">Secure Payment</h4>
                        <p class="hlight-second">Thanks to the secure payment activation on our site, you can pay by credit card or money order.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="hlight-box">
               <div class="row align-items-center">
                  <div class="col-md-3">
                     <i class="fal fa-smile icon"></i>
                  </div>
                  <div class="col-md-9">
                     <div>
                        <h4 class="hlight-first">Quality Service</h4>
                        <p class="hlight-second">We are always working to increase the satisfaction rate by providing cheap and quality services.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="reset_Card">
                <div class="card card_v2">
                    <div class="card-body p-4">
                      <div id="def_side_title" class="mb-5">
                          <div class="icon">
                            <i class="fas fa-lock"></i>
                          </div>
                          <div class="name">
                            Reset your password
                          </div>
                      </div>
                      
                        
                        <form  method="post" action="">
                                                        

                            <div class="form-group mb-3">
                              <label for="email" class="control-label mb-2">
                                <span class="icon">
                                  <i class="fas fa-envelope"></i>
                                </span> 
                                <span class="name">
                                  E-mail
                                </span>
                              </label>
                              <input type="text" class="form-control" name="user" value="{{ data['user'] }}" placeholder="johnsmith28@gmail.com">
                            </div>
                                                           {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}

            <button type="submit" class="btn btn-block btn-primary w-100">{{ lang['resetpassword.button'] }}</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


 
  {% include 'footer.twig' %}